@charset "UTF-8";

// 1. The smallest supported screen width.
// 2. Prevent adjustments of font size after orientation changes in iOS.
// 3. Use a 4-space tab width in all browsers.

html {
    min-width: 320px; // 1
    text-size-adjust: none; // 2
    tab-size: 4; // 3
}

body {
    min-height: 100vh;
    background-color: #fff;
    text-rendering: optimizeLegibility;
    color: $color_text;
    font-family: $font_family_text;
    font-size: $font_size_text;
    line-height: $line_height_ratio_text;
}

body,
button,
[type="button"],
[type="submit"],
[type="reset"] {
    @if $apply_font_smoothing {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
}
