@charset "UTF-8";

form,
fieldset {
    margin-bottom: $default_spacing;
}

label, input, select, textarea {
    display: inline-block;
}

[type*="date"],
[type*="datetime-local"], // github.com/whatwg/html/issues/336
[type*="month"],
[type*="time"],
[type*="week"],
[type*="file"],
[type*="email"],
[type*="number"],
[type*="password"],
[type*="search"],
[type*="tel"],
[type*="text"],
[type*="url"],
input:not([type]),
// TODO: Shorten the selector.
// input:not([type*="checkbox"]):not([type*="radio"]):not([type*="button"]),
textarea,
select {
    width: 100%;
    font-family: $font_family_input;
    font-size: $font_size_input;
    height: $height_input;
    line-height: $height_input;
    // Firefox only.
    @supports (-moz-appearance:none) {
        height: $height_input_moz;
        line-height: $height_input_moz;
    }
    padding: {
        left: $padding_left_input;
        right: $padding_right_input;
    }
    border-width: $border_width_input;
    border-radius: $border_radius_input;
    box-shadow: none;
    color: $color_input;
    background-color: $background_color_input;
    border-color: $border_color_input;
    &:hover {
        color: $color_input_hover;
        background-color: $background_color_input_hover;
        border-color: $border_color_input_hover;
    }
    &:focus {
        outline: 0;
        color: $color_input_focus;
        background-color: $background_color_input_focus;
        border-color: $border_color_input_focus;
        box-shadow: $box_shadow_input_focus;
    }
}

// Ignore rtl for non rtl data.
input[type*="email"],
input[type*="url"] {
	direction: ltr;
}

input,
textarea {
    &::placeholder {
        color: $placeholder_color_input;
        // Correct firefox placeholder color.
        @supports (-moz-appearance:none) {
            opacity: 1;
        }
    }
    &:hover::placeholder { color: $placeholder_color_input_hover; }
    &:focus::placeholder { color: $placeholder_color_input_focus; }
}

textarea {
    // Remove space below the textarea.
    vertical-align: top;
    // Only allow vertical resizing.
    resize: vertical;
    overflow: auto;
    height: auto;
    line-height: $line_height_ratio_input;
    @supports (-moz-appearance:none) {
        min-height: $height_input_moz;
    }
    padding: {
        top: $padding_top_input;
        bottom: $padding_bottom_input;
    }
}

select {
    cursor: pointer;

    @if variable-exists(select-background-image) {
        appearance: none;
        background-image: $select-background-image;
        background-position: calc( 100% - #{$padding_right_input} ) 50%;
    }
    @else {
        appearance: menulist;
        // Override webkit to ensure proper display when multiple or size attribute is present.
        -webkit-appearance: menulist-button;
    }

    &[size], &[multiple] {
        height: auto;
        line-height: $line_height_ratio_input;
    }

    // Remove inner border for Firefox.
    &:-moz-focusring {
        color: transparent;
        text-shadow: 0 0 0 #000;
    }
}

[type*="file"] {
    overflow: hidden;
    &::-webkit-file-upload-button {}
}

button,
[type*="button"],
[type*="submit"],
[type*="reset"] {
    display: inline-block;
    appearance: none;
    cursor: pointer;
    text-align: center;
    height: $height_input;
    line-height: $height_input;
    @supports (-moz-appearance:none) {
        // Firefox only.
        height: $height_input_moz;
        line-height: $height_input_moz;
    }
    padding: {
        left: $padding_left_input;
        right: $padding_right_input;
    }
    background-color: $color_ui;
    border-width: $border_width_input;
    border-radius: $border_radius_input;
    &:focus {
        outline: 0;
        box-shadow: $box_shadow_button_focus;
    }
}

[type*="checkbox"],
[type*="radio"] {
    vertical-align: middle;
    cursor: pointer;
}
