@charset "UTF-8";

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

figure,
audio,
video {
	margin-bottom: $default_spacing;
}

img,
embed,
iframe,
object {
    // Making media responsive.
	max-width: 100%;
}

figcaption { font-size: $font_size_small; }

figcaption { font-size: 80%; }

img {
    display: inline-block;
	height: auto;
    // Styling alt text.
    font-size: 80%;
    font-style: italic;
}

svg {
    // Helps with SVGs sizing.
	max-height: 100%;
}
