@charset "UTF-8";

// 1. Remove gap between media elements and the bottom of their containers.
// https://github.com/mozdevs/cssremedy/issues/14
img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  vertical-align: middle; // 1
}

// 1. Make media responsive.
img,
video,
embed,
iframe,
object {
	max-width: 100%; // 1
    height: auto; // 1
}

// 1. Helps with SVGs sizing.
svg {
	max-height: 100%; // 1
}
