@charset "UTF-8";

*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border-style: solid;
    border-color: $color_ui;
    border-width: 0;
    background-repeat: no-repeat;
}

::selection {
    background: rgba( 255, 244, 147, .8 );
    color: inherit;
    text-shadow: none;
}

// Normalize overrides.

img {
    border-style: solid;
}

fieldset {
    padding: 0;
}
