@charset "UTF-8";

// Elemental defaults.

*, ::before, ::after {
    // github.com/csstools/sanitize.css/pull/171
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    border-style: solid;
    border-color: $color_ui;
    background-repeat: no-repeat;
}

::selection {
    background-color: rgba( 255, 244, 147, .8 );
    color: inherit;
    text-shadow: none;
    text-decoration: none;
}

// Normalize overrides.

img {
    border-style: solid;
}

fieldset {
    padding: 0;
}
