@charset "UTF-8";

*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border-width: 0;
    border-style: solid;
    border-color: $color_ui;
    background-repeat: no-repeat;
}

::selection {
    background: rgba(255, 244, 147, .8);
    color: inherit;
    text-shadow: none;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

img {
    // Normalize override.
    border-style: solid;
}
