@charset "UTF-8";

/*
Colors
*/

$color_heading: #474747 !default;
$color_text:    #474747 !default;
$color_accent:  #2199de !default;
$color_ui:      #e8e8e8 !default;

$color_input:                   $color_text              !default;
$color_input_hover:             $color_text              !default;
$color_input_focus:             $color_text              !default;
$background_color_input:        #fff                     !default;
$background_color_input_hover:  #fff                     !default;
$background_color_input_focus:  #fff                     !default;
$border_color_input:            $color_ui                !default;
$border_color_input_hover:      $color_ui                !default;
$border_color_input_focus:      $color_accent            !default;
$placeholder_color_input:       darken( $color_ui, 15% ) !default;
$placeholder_color_input_hover: darken( $color_ui, 15% ) !default;
$placeholder_color_input_focus: darken( $color_ui, 15% ) !default;

/*
Typography
*/

$apply_font_smoothing: false !default;

$system_font_family:
    system-ui,
    /* macOS 10.11-10.12 */ -apple-system,
    /* Windows 6+ */ "Segoe UI",
    /* Android 4+ */ Roboto,
    /* Ubuntu 10.10+ */ Ubuntu,
    /* Gnome 3+ */ Cantarell,
    /* KDE Plasma 5+ */ "Noto Sans",
    /* fallback */ sans-serif,
    /* macOS emoji */ "Apple Color Emoji",
    /* Windows emoji */ "Segoe UI Emoji",
    /* Windows emoji */ "Segoe UI Symbol",
    /* Linux emoji */ "Noto Color Emoji"
    !default;

$mono_font_family:
    /* macOS 10.10+ */ Menlo,
    /* Windows 6+ */ Consolas,
    /* Android 4+ */ "Roboto Mono",
    /* Ubuntu 10.10+ */ "Ubuntu Monospace",
    /* KDE Plasma 5+ */ "Noto Mono",
    /* KDE Plasma 4+ */ "Oxygen Mono",
    /* Linux/OpenOffice fallback */ "Liberation Mono",
    /* fallback */ monospace
    !default;

$font_family_heading: $system_font_family !default;
$font_family_text:    $system_font_family !default;
$font_family_input:   $system_font_family !default;
$font_family_code:      $mono_font_family !default;

$line_height_ratio_heading: 1.25 !default;
$line_height_ratio_text:    1.65 !default;
$line_height_ratio_input:   1.65 !default;
$line_height_ratio_code:    1.65 !default;

$font_size_h1:    46px !default;
$font_size_h2:    36px !default;
$font_size_h3:    28px !default;
$font_size_h4:    22px !default;
$font_size_h5:    18px !default;
$font_size_h6:    16px !default;
$font_size_text:  18px !default;
$font_size_input: 18px !default;
$font_size_code:  14px !default;

/*
Margin Bottom
*/

$default_spacing: 32px !default;

/*
Forms
*/

$padding_left_input:   16px !default;
$padding_right_input:  16px !default;
$padding_top_input:     8px !default;
$padding_bottom_input:  8px !default;

$border_width_input:  1px !default;
$border_radius_input: 3px !default;

$height_input: calc(
    #{floor($font_size_input * $line_height_ratio_input)}
    + #{$padding_top_input}
    + #{$padding_bottom_input}
    + #{$border_width_input * 2}
) !default;

$height_input_moz: calc(
    #{ceil($font_size_input * $line_height_ratio_input)}
    + #{$padding_top_input}
    + #{$padding_bottom_input}
    + #{$border_width_input * 2}
) !default;
